 :root {
    --western: #2fA4DD;
    --eastern: #F15922;
}

 h1,
 text,
 p,
 td,
 th {
     font-family: montserrat;
 }

 div#left {
     float: left;
 }

 div#right {
     float: left;
 }

svg {
    position: absolute;
    left: -60px;
}

h1 {
    padding-left:2%;
}

 table {
     overflow: auto;
     border-collapse: collapse;
     table-layout: fixed;
     font-size: .7em;
     position: absolute;
     right: 4%;
 }

 th,
 td {
     border: 1px white solid;
     text-overflow: ellipsis;
     padding: 10px;
     text-align: left;
 }

 th {
     text-transform: uppercase;
     background: black;
     color: #FFF;
 }

 tr:nth-child(even) {
     background-color: #EEE;
 }

 tr:nth-child(odd) {
     background-color: #FDFDFD;
 }

 path.county {
     fill: none;
     stroke: #777;
     stroke-width: .1;
     pointer-events: none;
 }

 path.western,
 path.eastern {
     stroke: white;
     stroke-width: 1.75;
     opacity: .6;
 }

 path.western {
     fill: var(--western);
 }

 path.eastern {
     fill: var(--eastern);
 }

 path.western:hover,
 path.eastern:hover {
     opacity: 1;
 }

 path.dim {
     opacity: 0;
 }

 .label_divs {
     text-align: center;
     position: absolute;
     font-size: 13px;
     pointer-events: none;
     color: black;
 }

 rect {
     opacity: .6;
 }

 rect.western {
     fill: var(--western);
 }

 rect.eastern {
     fill: var(--eastern);
 }